.arrow {
    height: 50px;
    width: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
    /*z-index: 999;*/
    /*position: absolute;*/
    top: 50%;
}

.arrow-right {
    right: 50px;
}

.left-arrow {
    left: 50px;
}

.arrow:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1)
}
