html, body, svg, div {
    margin: 0;
    padding: 0;
    border: 0;
    background: #262626;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
